# MongoDB Connection String (Free tier)
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/bitnest?retryWrites=true&w=majority"

# Firebase Auth config
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""

# File Storage Path (for Termux)
MEDIA_ROOT="/storage/external-1/BitNestMedia"

# Next Auth
NEXTAUTH_SECRET="yoursecretkey"
NEXTAUTH_URL="http://localhost:3000"

# API endpoints
NEXT_PUBLIC_API_URL="http://localhost:3000/api" 